In [15]:
import pandas as pd

In [16]:
customers = pd.read_csv("/home/aerik/learning/code/senla-de-intership/block_01/data/customers.csv")

In [17]:
customers.columns

Index(['customer_id', 'FN', 'Active', 'club_member_status',
       'fashion_news_frequency', 'age', 'postal_code'],
      dtype='object')

In [18]:
customers.describe()

             FN    Active           age
count  476930.0  464404.0  1.356119e+06
mean        1.0       1.0  3.638696e+01
std         0.0       0.0  1.431363e+01
min         1.0       1.0  1.600000e+01
25%         1.0       1.0  2.400000e+01
50%         1.0       1.0  3.200000e+01
75%         1.0       1.0  4.900000e+01
max         1.0       1.0  9.900000e+01

In [19]:
customers.sample(n=10)

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
1365681,fecf72388f3a875afb80ca7ec1153ebc6ce913c11b6276...,NaN,NaN,ACTIVE,NONE,37.0,530dcb540f540ad7e3b6ec03772fb4319e2063b6288273...
994751,b9a22086410a50434e15ec3079c9bddccd234a9e574b7a...,NaN,NaN,ACTIVE,NONE,41.0,2e10f9c9154830853c465e6c34db663391f7e3ad56ecb2...
435826,517711f028603cf59626524cd5497692a28b33b593da18...,NaN,NaN,ACTIVE,NONE,57.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
429314,5045c28d45de2dadedc9e0eb4cc6f7ce4817a0d4cac24e...,NaN,NaN,ACTIVE,NONE,24.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
311344,3a2ccc6e7b84411d989815413e00f5e7fc03caf9fc056a...,NaN,NaN,ACTIVE,NONE,37.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
446175,536623ca0114d4ff23f04d9c87d03f0a48269d8076ab70...,NaN,NaN,PRE-CREATE,NONE,25.0,65b5757a0ee4d4a62f5b68241482c23eb910f109fce2d0...
953509,b1e4db1ea6c0ad4f4f5adcd10917e837aab96e2523aa2b...,1.0,1.0,ACTIVE,Regularly,46.0,cbf6b258279087af127e0c80b1d5cbf952246fe34ea926...
1107388,cea606206a6ade50df1fc074fba14def6eb9d195764e40...,NaN,NaN,ACTIVE,NONE,32.0,1913d218f8ee034acd990a6197d57329a29037f40d8998...
65559,0c42ff558340690e425b92593ee66aad82b1e801d7bad0...,NaN,NaN,ACTIVE,NONE,33.0,5f160c2a6edfa619dc5e0679efa7b0b2b6cf8a74afe315...
635463,76989783a0423e75f4e628cb68dd68e9b26adc042b2fa0...,NaN,NaN,ACTIVE,NONE,30.0,f0dafb6f3bba0e97b057e08a0b3b9be1b5cbffcce01545...

In [20]:
customers["age"].describe()

count    1.356119e+06
mean     3.638696e+01
std      1.431363e+01
min      1.600000e+01
25%      2.400000e+01
50%      3.200000e+01
75%      4.900000e+01
max      9.900000e+01
Name: age, dtype: float64

In [21]:
customers["age"].value_counts()

age
21.0    67530
24.0    56124
20.0    55196
25.0    54989
23.0    54867
        ...
98.0        7
97.0        4
93.0        4
96.0        3
94.0        3
Name: count, Length: 84, dtype: int64