In [17]:
import pandas as pd

In [18]:
transactions = pd.read_csv("/home/aerik/learning/code/senla-de-intership/block_01/data/transactions_train.csv", nrows=1000000)

In [19]:
transactions.columns

Index(['t_dat', 'customer_id', 'article_id', 'price', 'sales_channel_id'], dtype='object')

In [20]:
transactions.describe()

         article_id           price  sales_channel_id
count  1.000000e+06  1000000.000000    1000000.000000
mean   5.859517e+08        0.030179          1.662943
std    1.071178e+08        0.022913          0.472705
min    1.087750e+08        0.000678          1.000000
25%    5.544500e+08        0.016932          1.000000
50%    6.194530e+08        0.025407          2.000000
75%    6.603670e+08        0.033881          2.000000
max    7.402370e+08        0.591525          2.000000

In [21]:
transactions.sample(n=10)

,t_dat,customer_id,article_id,price,sales_channel_id
398349,2018-09-28,bf60544f205409bea68c879237dced7bfdcaa99ee2a3fb...,665481001,0.040661,1
455913,2018-09-29,49a90e6a1f4a6c4a8a9b3f387f88f52cf42ff52f9e2bcc...,633808003,0.004051,1
838656,2018-10-07,8fccbd3282cb68f3ff94042bcb2c0a6f9be2f0a64e2627...,675027001,0.033881,1
593847,2018-09-30,f9d0f758ecae0663dbec48134c10a3ce5e5ddd91e4a629...,676728001,0.016932,2
925175,2018-10-10,1620685f478e2addad14ec436ccc3f502bb8d46be79371...,181160009,0.028797,2
266443,2018-09-26,387609d09c03a797654709272c32748b7e258748b43958...,651724003,0.033881,2
40734,2018-09-20,d79ebbc41493f719849bddbc76c7f19be09eb2a1619558...,578825001,0.032186,2
960274,2018-10-10,9fb1e9d90c660b24a5934309699ec4c97dd977b5a0cbdb...,591088003,0.033881,2
611854,2018-10-01,7332ca6036d40da122f10db2dcbc85cb47de86389479f3...,576897002,0.013542,1
317153,2018-09-27,4c2081c90c7d6eaf6a12ba62a1badfeb71d8dd01765cb0...,663942005,0.033881,2

In [27]:
transactions["price"].describe()

count    1000000.000000
mean           0.030179
std            0.022913
min            0.000678
25%            0.016932
50%            0.025407
75%            0.033881
max            0.591525
Name: price, dtype: float64

In [26]:
transactions["price"].value_counts()

price
0.033881    135140
0.016932    103130
0.025407     98883
0.013542     56541
0.050831     54372
             ...
0.066695         1
0.098237         1
0.038712         1
0.129051         1
0.043932         1
Name: count, Length: 2909, dtype: int64